@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    margin:0;
    padding:0;
    
}
body{
    background-color: mediumpurple;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    min-height: 100dvh;
    overflow: hidden;
}

 h1{

    
    padding:10px;
    font-family:'Courier New', Courier, monospace;
    padding-left: 40px;
 }
 .internal {
    
    
    z-index: 1;
  background: rgb(165, 138, 218);
  
    
}
.enter {
    padding-left: 10px;
    font-family: 'Poppins',sans-serif;
}
.container{
    position: relative;
    max-width: 450px;
    
    padding-bottom: 20px;
    padding-top: 20px;
    
    
}
.form{
    position: relative;
   font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #eee;
  outline-color: mediumpurple;
  width: 100%;  /* Ensure the form fills the container */
  background: rgb(89, 89, 92);
}
.icon{
    position:absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
}
#input-field {
  border: none;
  width: 100%;  /* Ensure the input fills the form */
  padding: 10px 35px 10px 10px; /* Extra padding on the right for the icon */
  box-sizing: border-box;/* Ensure padding and border are part of the width */
}
.picker{
   position: relative;
  /*z-index: 1;*/
  margin-top: 2px;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
.picker button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  touch-action: manipulation;
}
.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 32px);
  gap: 10px;
  margin-block: 10px;
}

.days span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.dates button{
    color: slategray;
  aspect-ratio: 1;
}
.dates button:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.dates button:hover {
  background: rgba(119, 136, 153, 0.1);
}

.dates button.today {
  background: rgba(147, 112, 216, 0.2);
  color: mediumpurple;
}

.dates button.selected {
  background: mediumpurple;
  color: #fff;
}
.picker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

}

.picker-header select,
.picker-header input {
   font-size: 14px;
   border: 1px solid #eee;
   outline-color: mediumpurple;
}

.picker-header input {
    max-width: 64px;
}

.picker-header button {
    color: slategray;
}

.picker-header button:hover {
     color: mediumpurple;
}
.picker-footer {
  display:flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.picker-footer button {
   background: rgba(119, 136, 153, 0.1);
   padding: 3px 10px;
}
.picker-footer button.apply {
  background: mediumpurple;
  color: #fff;
}
.bottom{
    margin-top: 10px;
    display: flex;  /* Use flexbox to align items */
    flex-direction: column;  /* Stack the button and text vertically */
    align-items: center;  /* Center items horizontally */
    justify-content: center;  /* Ensure items are centered even if there's extra space */
    position: relative;
    background-color: rgba(13, 115, 218, 0.1);
    z-index: 10;
}
.bottom p{
    font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.calcbutton{

    margin: 20px 10px;
    background: mediumpurple;
    color:#eee;
    padding: 10px 20px;
    border:none;
    outline-color: mediumpurple;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
}
.calcbutton:hover{
    background: rgba(147, 112, 216, 0.2);
    color: slategray;
}

