h1{
    display:block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-align: center;

}
.body{
  display:block;
  text-align:center;
  margin-left:-60px;
}
.enter{
  
}

.form{
  
}
.button{

}
.verdict{

}